// /*
// * Skeleton V1.1
// * Copyright 2011, Dave Gamache
// * www.getskeleton.com
// * Free to use under the MIT license.
// * http://www.opensource.org/licenses/mit-license.php
// * 8/17/2011
// */

/* Compliled with SASS
================================================== */
@import "base.css";
@import "skeleton.css";

// stick footer to bottom of viewport
html, body {height: 100%;}
#wrap {min-height: 100%;}
#main {overflow:auto;
  padding-bottom: 45px;}  /* must be same height as the footer */
#footer {position: relative;
  margin-top: -45px; /* negative value of footer height */
  height: 45px;
  clear:both;} 

// floating mixins
.alignleft {display:inline;float:left;}
@mixin alignleft {display:inline;float:left;}
.alignright {display:inline;float:right;}
@mixin alignright {display:inline;float:right;}
img.alignright, .alignright img {margin: 0 0 20px 20px;}
img.alignleft, .alignleft img {margin: 0 20px 20px 0;}

// variables
$highlight:#10aea1;
$steel:#2d2d2d;

ul.nostyle {
  margin: 0;
  padding:0;

  li {margin: 0;line-height: auto;}
}

a {color: $steel;}

h1 {display: none;}

body {
  background:#e6e6e6;
  color: $steel;
  font-family:"MuseoSans500Regular", "Helvetica Neue", Verdana, Geneva, Arial, sans-serif;
}

header#logo {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 40px;
  margin:65px 0;
}

nav#core-nav {
  margin-top: 65px;
  padding-left:52px;
  text-align: right;

  li {
    display:inline;
    margin-left: 20px;
  }

  a {
    text-decoration: none;

    &:hover {text-decoration: none;}
  }

  li.current_page_item {
    a {border-bottom:2px solid $highlight}
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $steel;
  font-family:"MuseoSans500Regular", "Helvetica Neue", Verdana, Geneva, Arial, sans-serif;
  font-size:22px;
  letter-spacing:-1px;
}

// =flex controls
.flexslider {
  background:none !important;
  border:none !important;
  border-radius:0 !important;
}

.flex-direction-nav li a {
  display: none;
}

.flex-control-nav {

  li {
    margin: 0 0 0 10px;
  }

  a {
    background:url('../../images/core/slide-control_nav.png') !important;
    height: 8px;
    width: 8px;

    &.active, &:hover {background-position: 0 -8px;}
  }
}

.flex-direction-nav li a {
  color: #fff;
  background: url('../../images/core/slide-nav.png') no-repeat !important;
  width: 38px !important;
  height: 37px !important;
  margin: 0;
  display: block;
  background: none;
  position: absolute;
  right:0;
  top: 105%;
  cursor: pointer;
  text-indent: 0;

  &.prev {left: 20px;}
  &.next {right: 10px; background-position:-38px 0 !important;}
}

.flex-control-nav {
  bottom: -44px;

  li {
    margin: 0 0 0 10px;
  }

  a {
    background:url('../../images/core/slide-control_nav.jpg');
    height: 8px !important;
    width: 8px !important;

    &.active {background-position: 0 -8px !important;}
  }
}

#footer {
  text-align: center;
}

// =forms
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background:#F3F3F3 !important;
}

/* #Page Styles
================================================== */
// =landing
body.home {

  #banner {
    border:3px solid #cbcbcb;
    margin-bottom:50px;
    max-height:485px;

    li {max-height:485px;overflow:hidden;}
  }

  .flexslider {
    background:none !important;
    border:none !important;
    border-radius:0;
  }

  .flex-direction-nav li a {
    display: none;
  }

  .flex-control-nav {

    li {
      margin: 0 0 0 10px;
    }

    a {
      background:url('../../images/core/slide-control_nav.jpg');
      height: 8px;
      width: 8px;

      &.active, &:hover {background-position: 0 -8px;}
    }
  }
}

// =folio =port
body.page-template-portfolio-php {

  article.portfolio-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 25px 0;
    width: 100%;

    a {
      color: $highlight;
      text-decoration:none;

      &:hover {text-decoration:underline;}
    }

    .linknote {font-size:10px;}

    h2 {
      line-height:20px;
      margin-bottom:0;
    }

    header.meta {
      .nine {
        line-height:18px;
        text-align:right;
      }

      a {
        line-height:40px;
      }
    }

    div.banner {
      img {
        border:3px solid #cbcbcb;
        display: block;
      }
    }

    li.notes {
      ul {
        margin-left: 20px;
      }
      li {
        list-style:disc;
      }
    }

    footer {
      clear:both;
      display: block;
      text-align:center;
      width: 100%;
    }
  
    div.flexslider {
      // display: none;
      margin-bottom:20px;

      img {border: 4px solid #fff;}
    }

    ul {
      line-height:40px;
    }

  }
}

// =contact
body.page-id-30 {

  ul#findme {

    li {
      line-height:20px;

      a {
        border-radius:4px;
        color:$highlight;
        display: block;
        padding:8px 0 8px 44px;

        &#github {background:url('../../images/core/icon-github.png') 11px 7px no-repeat;}
        &#twitter {background:url('../../images/core/icon-twitter.png') 6px 7px no-repeat;}

        &:hover {
          background-color: #d4d4d4 !important;
          color:$steel;
        }
      }
    }    
  }

}

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

@font-face {
  font-family: 'MuseoSans500Regular';
  src: url('../../fonts/museosans_500_macroman/MuseoSans_500-webfont.eot');
  src: url('../../fonts/museosans_500_macroman/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/museosans_500_macroman/MuseoSans_500-webfont.woff') format('woff'),
       url('../../fonts/museosans_500_macroman/MuseoSans_500-webfont.ttf') format('truetype'),
       url('../../fonts/museosans_500_macroman/MuseoSans_500-webfont.svg#MuseoSans500Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  }
